<div class="container">
    <div class="row text-center">
        <div class="col-12 mb-5">
            <h3>Bienvenido al Repositorio</h3>
            <p>¿Eres docente?</p>
        </div>    
    </div>
</div>