<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Llevar a cabo un registro permite potenciar este sitio y adecuarlo a las necesidades de los educadores y educadoras. Así, cada cutso y cada herramienta será cada vez más pertinente a la práctica de lo que sucede al interior de la sala de clases. Todo lo que Ud. ingrese o responda NO es una evaluación, las respuestas que entregue son estrictamente confidenciales, nadie tendrá acceso a ellas y no tendrá ninguna consecuencia para usted.</p>
        </div>    
    </div>
    <div class="row">
        <div class="col-2">
            <p>Imagen</p>
        </div>
        <div class="col-6">
            <p>El registro consta de 4 ETAPAS</p>
            <p class="mt-5">Ficha de antecedentes generales</p>
            <p class="mt-5">Ficha de formación académica</p>
            <p class="mt-5">Mi vida como formador</p>
        </div>
        <div class="col-4">
            <p>Mis respuestas enviadas:</p>
            <p> <small>{{percentage1}}%</small>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{percentage1}}%" aria-valuenow="{{percentage1}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </p>
            <p>  <small>{{percentage2}}%</small>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{percentage2}}%" aria-valuenow="{{percentage2}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </p>
            <p>  <small>{{percentage3}}%</small>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{percentage3}}%" aria-valuenow="{{percentage3}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </p>
        </div>    
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <p>Si lo desea puede comenzar completando sus datos en la <strong>Ficha de antecedentes generales:</strong></p>
            <p><a href="{{locallink}}general.php?id={{id}}"><img src="{{locallink}}img/autumn-leaf.png" /></a></p>
        </div>
    </div>
</div>