<div class="row">
    <div class="col-3"><img src="{{image}}"></div>
    <div class="col-5">
        <h3>{{title}}</h3>
    </div>
    <div class="col-4">
        <p>  
            <small>{{percentage}}%</small>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{percentage}}%" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>
</div>